watch_file shell.nix
use flake

source <(sops --decrypt --extract '["klix"]["environment"]' ../code-supply/boxes/klix/secrets/klix.yaml | grep ^AWS)
export AWS_ACCESS_KEY_ID
export AWS_SECRET_ACCESS_KEY
export KLIX_RUN_BUILDER=false
