<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Welcome" suffix=" · Klix">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        
        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body>
    <header class="hero bg-base-200">
      <div class="hero-content">
        <div>
          <h1 class="mt-6 text-5xl font-bold"><.link href={~p"/"}>Klix</.link></h1>
          <h2>Klipper + NixOS</h2>
          <p class="py-6">A parametric operating system for 3D printers.</p>
        </div>
      </div>
    </header>
    <section class="md:w-1/2 w-3/4 m-auto pb-6">
      {@inner_content}
    </section>
    <footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
      <nav></nav>
      <nav>
        <h6 class="footer-title">Developers</h6>
        <a class="link link-hover">Code Supply</a>
        <a class="link link-hover">Andrew Bruce</a>
      </nav>
      <nav>
        <h6 class="footer-title">Source</h6>
        <a class="link link-hover" href="https://github.com/code-supply/klix">GitHub</a>
        <a class="link link-hover" href="https://github.com/code-supply/klix/blob/main/LICENSE">
          License
        </a>
      </nav>
    </footer>
  </body>
</html>
