name: Klix Pipeline
on:
  push:
    branches: [main]
    workflow_dispatch:
    schedule: {cron: "0 0 * * *"}
    pull_request:

jobs:
  test:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix flake check --print-build-logs
