name: Klix Pipeline
on:
  push:
    branches: [main ci]
    workflow_dispatch:
    schedule: {cron: "0 0 * * *"}
    pull_request:

jobs:
  nixos-tests:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix flake check --print-build-logs

  web-tests:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - env:
          AWS_ACCESS_KEY_ID: rustfsadmin
          AWS_SECRET_ACCESS_KEY: rustfsadmin
        working-directory: web
        shell: nix develop . --command {0}
        run: |
          mix deps.get
          mix test
